<h2><%= @list.name %></h2>
<% @item.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<ol>
  <% @list.items.each do |item| %>
    <li><%= item.name %> <%= button_to "Delete", list_item_path(@list.id, item.id ), :method => 'delete' %></li>
  <% end %>
</ol>
<%= render 'form', :form_obj => [@item.list, @item], :button_name => 'New Item' %>